
@{
    ViewData["Title"] = "Exercício Simix";
}

<form asp-controller="Home" asp-action="ShowNumbers" method="post">
    <input type="submit" name="showNumbers" value="Show Numbers" />
</form>


<hr />

<p>Resultado:</p>